body{
    background-color: rgba(65, 232, 229, 0.914);
    color:rgb(3, 2, 2);
    font-family: "Bitcount Grid Double", serif;
    margin:0px;
}
header{
    font-size: 50px;
    border: solid 5px white;
    text-align: center;
    /*margin:30px;*/
    padding: 30px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

section{
background-color: rgba(23, 255, 255, 0.574);
padding-bottom: 80px;
display: flex;
justify-content: center;{

}
.chamada-texto{
    margin-right: 10%;
}
